p{ 
text-align:center;
margin-right:10px;
color: #070eff;
}
.div1{
float: right;width:44%;margin-bottom:0px;padding:25px; margin-right:10px;margin-left:10px;background: #c9cacc;margin-top:300px;border-radius:5px;
height:553px;
}
.div4{
float: right;width:95%;margin-bottom:0px;padding:25px; margin-right:10px;margin-left:10px;background: #c9cacc;margin-top:5px;border-radius:5px;
height:auto;
}
.car{margin-top:32px;}
.div2{
float: left; width:44%;margin-bottom:0px;padding:25px; margin-right:10px; margin-left:10px; background: #c9cacc; margin-top:300px;border-radius:5px;
}
.div3{
float: left; width:94.7%;margin-bottom:0px;padding:25px; margin-right:10px; margin-left:10px; background: #c9cacc; margin-top:5px;border-radius:5px;
}
.h1{
text-align:center;
margin-right:10px;
font-size: 1em;
}
.submit{
margin-top:15px;margin-right:35%;color:#00FF1C;
}
select{
        height: 44px;
		font-family: "Times New Roman (Headings CS)";
		font-weight: 400;
		color: #919499;
		width: 98.5%;
		line-height: 40px;}
input
	{
		font-family: "Times New Roman (Headings CS)";
		font-weight: 400;
		color: #919499;
		width: 98%;
		line-height: 40px;
		font-size: 17px;
	}
label{
	    line-height: 40px;
	}
button{
font-family: "Times New Roman (Headings CS)";
       width: 98.5%;
    margin-top: 16px;
    line-height: 40px;
    color: #0ef735;
    background: #252b39;
    font-size: 20px;
	
}
.btfother{
float: left;
background: #e97770 url('images/banner.jpg');
color: #fff;
height:40px;
width: 1325px;
opacity: 1;
font-weight: bold;
text-align: center;
padding: 5px;
line-height: 25px;
box-shadow: 0px 0px 5px 5px #f9d500;
margin-top: 15px;
}

.infor {
color: #FFF;
text-align:center;
font-family: FontAwesome;
font-size: 1em;
text-decoration: none;
font-style: normal;
font-weight: normal;
line-height: 2;
}